@{
    ViewData["Title"] = "Create";

}
<div class="text">
    <h2 data-text="Create">Create</h2>
</div>
<partial name="BranchForm" />
<div>
    <a asp-action="Index" asp-controller="Manage" class="btn info">Back to Dashboard</a>
</div>

