
@{
    ViewData["Title"] = "Create";
}

<div class="text">
    <h2 data-text="Add_Course">Add_Course</h2>
</div>
<partial name="CourseForm" />
<div>
    <a asp-action="Index" asp-controller="Course" class="btn info">Back to List</a>
</div>

