@model CourseViewModel
@{
    ViewData["Title"] = "Delete Course - Examly";
}
<indicator hidden>admin-courses</indicator>
<div class="row justify-content-center">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Delete Cousre</p>
                <div class="row">
                    <div class="col-12">
                        <h4 class="card-text"> Are you sure you want to delete <strong>@Model.Name Course?</strong></h4>
                        <form method="post" class="forms-sample  mt-3">
                            <div class="form-group ">
                                <input type="submit" value="Delete" class="btn btn-danger mr-2" />
                                <a asp-action="Index" asp-controller="Course" class="btn btn-light">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
