@model onlineExamInestractour.ViewModels.CourseInfo
@{
    ViewData["Title"] = "Info";
}



<h1>Course Information</h1>

<div>
    <p><strong>Department Name:</strong> @Model.DepartmentName</p>
    <p><strong>Course Name:</strong> @Model.CourseName</p>
    
</div>


