@model onlineExamInestractour.ViewModels.Detialsviewmodel

@{
    ViewData["Title"] = "Details";
}


<h1>Course Details</h1>



    <p><strong>Course ID:</strong> @Model.CourseId</p>
    <p><strong>Course Name:</strong> @Model.CourseName</p>
    <p><strong>Instructor Name:</strong> @Model.InstructorName</p>
