@model onlineExamInestractour.ViewModels.QuestionInfo
@{
    ViewData["Title"] = "QuestionInfo";
}

<h1>Question Info</h1>

<div>

    <p><strong>Course Name:</strong> @Model.CourseName</p>
    <p><strong>Question Text:</strong> @Model.QuestionText</p>
    <p><strong>Choices:</strong> @Model.Choices</p>
    <p><strong>choices Type:</strong> @Model.Type</p>

</div>