﻿@using System.Security.Claims
@{
    string? role = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />  
    <link rel="stylesheet" href="/feather/feather.css" />
    <link rel="stylesheet" href="/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css"
          integrity="sha512-/k658G6UsCvbkGRB3vPXpsPHgWeduJwiWGPCGS14IQw3xpr63AEMdA8nMYG2gmYkXitQxDTn6iiK/2fD4T87qA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>

    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="index.html">
                    <img src="images/exlogo.png" class="mr-2" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <img src="images/Blue_Modern_Education_Logo.png" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center"
                        type="button"
                        data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
    
              
            </div>
        </nav>
    </div>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas"  id="sidebar">
                @if (User.Identity.IsAuthenticated)
                {
                    if (role == "Admin")
                    {
                        <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Manage" asp-action="Index">
                                <i class="icon-grid menu-icon"></i>
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Course" asp-action="Index">
                                <i class="mdi mdi-library  menu-icon"></i>
                                <span class="menu-title">Courses</span>
                            </a>
                        </li>
                        </ul>
                    }
                    else if (role == "Manager" || role == "Instructor")
                    {
                        <ul class="nav">
                        @if (role == "Manager")
                        {

                            <li class="nav-item">
                                <a class="nav-link" asp-area="Staff" asp-controller="Manager" asp-action="Index">
                                    <i class="mdi mdi-bank menu-icon"></i>
                                    <span class="menu-title">Manage Department</span>
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Staff" asp-controller="Instructor" asp-action="Index">
                                <i class="mdi mdi-library menu-icon"></i>
                                <span class="menu-title">Courses</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Staff" asp-controller="Instructor" asp-action="ShowExams">
                                <i class="mdi mdi-book-open menu-icon"></i>
                                <span class="menu-title">Exams</span>
                            </a>
                        </li>
                        </ul>
                    }
                    else if (role == "Student")
                    {
                        <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Index">
                                <i class="mdi mdi-library menu-icon"></i>
                                <span class="menu-title">Courses</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Exams">
                                <i class="mdi mdi-file-document-box menu-icon"></i>
                                <span class="menu-title">Exams</span>
                            </a>
                        </li>
                        </ul>
                    }
                <div class="align-self-end">
                    <ul class="nav align-self-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">
                                <i class="mdi mdi-logout-variant menu-icon"></i>
                                <span class="menu-title">Logout</span>
                            </a>
                        </li>
                    </ul>
                    </div>
                
                }
                else
                {
                    <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">
                            <i class="mdi mdi-login-variant menu-icon"></i>
                            <span class="menu-title">Login</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">
                            <i class="mdi mdi-open-in-new menu-icon"></i>
                            <span class="menu-title">Register</span>
                        </a>
                    </li>
                    </ul>
                }

        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </div>
    </div>

   
    @*      @await RenderSectionAsync("Styles", required: false) *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/scripts/site.js"></script>
    <script src="~/scripts/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <div class="d-flex align-items-center">
                <span class="text-muted text-center text-sm-left">Copyright © 2024. Monsters Inc. All rights reserved.</span>
            </div>
            <div>
                <button type="button"
                        class="btn btn-social-icon btn-facebook btn-rounded">
                    <i class="ti-facebook"></i>
                </button>
                <button type="button"
                        class="btn btn-social-icon btn-twitter btn-rounded">
                    <i class="ti-twitter-alt"></i>
                </button>
                <button type="button"
                        class="btn btn-social-icon btn-linkedin btn-rounded">
                    <i class="ti-linkedin"></i>
                </button>
            </div>
        </div>
    </footer>
</body>
</html>