﻿@using System.Security.Claims
@{
    string? role = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/feather/feather.css" />
    <link rel="stylesheet" href="/ti-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css"
          integrity="sha512-/k658G6UsCvbkGRB3vPXpsPHgWeduJwiWGPCGS14IQw3xpr63AEMdA8nMYG2gmYkXitQxDTn6iiK/2fD4T87qA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>



    <div class="main-panel vw-100 vh-100">
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </div>
    


    @*      @await RenderSectionAsync("Styles", required: false) *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/scripts/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>