@model User

@{
    Layout = "_LoginLayout";
}

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <title>Login</title>
</head>

    <form asp-action="Login">
        <img src="/css/img/avatar.svg">
        <h2 class="title">Welcome</h2>
        <div class="input-div one">
            <div class="i">
                <i class="fas fa-user"></i>
            </div>
            <div class="div">
            <label asp-for="Email" class="control-label"></label>      
            <input asp-for="Email" class="input">
            <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="input-div pass">
            <div class="i">
                <i class="fas fa-lock"></i>
            </div>
            <div class="div">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="input" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

             <input type="submit" value="Login" class="btn">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <span>Don't have an account?</span>
             <a asp-action="Register" asp-controller="Account" class="btn">Register</a>
    </form>
  