@model User

@{
    Layout = "_LoginLayout";
}

<form asp-action="Login">
    <img src="/css/img/avatar.svg">
    <h2 class="title">Welcome</h2>
    <div class="input-div one">
        <div class="i">
            <i class="fas fa-user"></i>
        </div>
        <div>
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="input">
            
        </div>
    </div>
    <div class="input-div pass">
        <div class="i">
            <i class="fas fa-lock"></i>
        </div>
        <div>
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="input" type="password" />
            
        </div>
    </div>
    
    <button type="submit" class="custom-btn">Login</button>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <span>Don't have an account?</span>
    
    <a asp-action="Register" asp-controller="Account" class="custom-btn">Register</a>
</form>
        