@model RegisterViewModel

@{
    Layout = "_LoginLayout";
    SelectList Branches = new SelectList(ViewBag.Branches, "Id", "Name");
    SelectList GenderItems = new SelectList(Model.GenderOptions, "Value", "Text");
}
<form asp-action="Register">
    <img src="/css/img/avatar.svg">
    <h2 class="title">Welcome</h2>
    <div class="input-div one">
        <div class="i">
            <i class="fas fa-user"></i>
        </div>
        <div class="div">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="input" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="input-div one">
        <div class="i">
            <i class="fas fa-user"></i>
        </div>
        <div class="div">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="input" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="input-div pass">
        <div class="i">
            <i class="fas fa-lock"></i>
        </div>
        <div class="div">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="input" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="input-div one">
        <div class="i">
            <i class="fas fa-heart icon"></i>

        </div>
        <div class="div">
            @* <label asp-for="Age" class="control-label"></label> *@
            <input asp-for="Age" class="input" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
    </div>
    <div class="input-div one">
        <div class="i">
            <i class="fas fa-user"></i>
        </div>
        <div class="div">
            @* <label asp-for="Gender" class="control-label"></label> *@
            <select asp-for="Gender" class="input" asp-items="GenderItems">
                <option value="">Select Gender</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
    </div>
    <div class="input-div one">
        <div class="i">
            <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="div">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="input" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="input-div one">
        <div class="i">
            <i class="fas fa-phone"></i>
        </div>
        <div class="div">
            <label asp-for="Phone" class="control-label"></label>
            <input asp-for="Phone" class="input" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="input-div one">
        <div class="i">
            <i class="fas fa-building"></i>
        </div>
        <div class="div">
            @* <label for="branchId" >Branch </label> *@
            <select asp-items="Branches" id="branchId" class="input">
                <option disabled selected>Select Branch</option>
            </select>
        </div>
    </div>
    <div class="input-div one">
        <div class="i">
            <i class="fas fa-building"></i>
        </div>
        <div class="div">

            <select asp-for="DeptId" class="input">
                <option disabled selected>Select Department</option>
            </select>
            <span asp-validation-for="DeptId" class="text-danger"></span>
        </div>
    </div>

    <input type="submit" value="Register" class="custom-btn" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>
  
<script src="/lib/jquery/dist/jquery.js"></script>
<script>
    $("#branchId").change(function () {           
        $("#DeptId").load(`/Account/Departments/${$(this).val()}`);
    })                   
</script>
