@model RegisterViewModel

@{
    Layout = "_LoginLayout";
    Dictionary<int, string> branches = ViewBag.Branches;
    SelectList BranchList = new SelectList(branches.Select(x => new { Value = x.Key, Text = x.Value }),"Value","Text");
    SelectList GenderItems = new SelectList(Model.GenderOptions, "Value", "Text");
}
<h4>New here?</h4>
<h6 class="font-weight-light">
    Signing up is easy. It only takes a few steps
</h6>
<form class="pt-3" asp-action="Register">
    <div class="form-group">
        <label asp-for="Name" class="fs-4  text-primary text-lg-start"></label>
        <br />
        <span asp-validation-for="Name" class="text-danger"></span>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="fs-4  text-primary text-lg-start"></label>
        <br />
        <span asp-validation-for="Email" class="text-danger"></span>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="fs-4 text-primary text-xl-center"></label>
        <br />
        <span asp-validation-for="Password" class="text-danger"></span>
        <input asp-for="Password" class="form-control" type="password" />
    </div>
    <div class="form-group">
        <label asp-for="Age" class="fs-4 text-primary text-xl-center"></label>
        <br />
        <span asp-validation-for="Age" class="text-danger"></span>
        <input asp-for="Age" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="Gender" class="fs-4 text-primary text-xl-center"></label>
        <span asp-validation-for="Gender" class="text-danger"></span>
            <select asp-for="Gender" class="form-control" asp-items="GenderItems">
                <option value="" disabled>Gender</option>
            </select>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="fs-4 text-primary text-xl-center"></label>
        <br />
        <span asp-validation-for="Address" class="text-danger"></span>
        <input asp-for="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="fs-4 text-primary text-xl-center"></label>
        <br />
        <span asp-validation-for="Phone" class="text-danger"></span>
        <input asp-for="Phone" class="form-control" />
    </div>
    <div class="form-group">
        <label for="branchId" class="fs-4 text-primary text-xl-center">Branch</label>
        <select asp-items="BranchList" id="branchId" class="form-control">
                <option disabled selected>Select Branch</option>
            </select>     
    </div>
    <div class="form-group">
        <label asp-for="DeptId" class="fs-4 text-primary text-xl-center">Department</label>
        <span asp-validation-for="DeptId" class="text-danger"></span>
        <select asp-for="DeptId" class="form-control">
                <option disabled selected>Select Department</option>
            </select>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
           href="../index.html">SIGN UP</button>
    </div>
    <div class="text-center mt-4 font-weight-light">
        Already have an account?
        <a asp-action="Login" class="text-primary">Login</a>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</form>
@section Scripts{
    <script>
        $("#branchId").change(function () {
            console.log($(this).val())
            $("#DeptId").load(`/Account/Departments/${$(this).val()}`);
        })                   
    </script>
}
