@model RegisterViewModel

@{
    Layout = "_LoginLayout";
    SelectList Branches = new SelectList(ViewBag.Branches, "Id", "Name");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <title>Register</title>
</head>

    <form asp-action="Register">
        <img src="/css/img/avatar.svg">
        <h2 class="title">Welcome</h2>
        <div class="input-div one">
            <div class="i">
                <i class="fas fa-user"></i>
            </div>
            <div class="div">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="input" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="input-div one">
            <div class="i">
                <i class="fas fa-user"></i>
            </div>
            <div class="div">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="input" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
 
        <div class="input-div pass">
            <div class="i">
                <i class="fas fa-lock"></i>
            </div>
            <div class="div">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="input" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="input-div one">
            <div class="i">
            <i class="fas fa-map-marker-alt"></i>
        </div>
            <div class="div">
        
            <select asp-items="Branches" id="branchId" class="input">
                <option disabled selected>Select Branch</option>
            </select>
            </div>
        </div>
        <div class="input-div one">
            <div class="i">
            <i class="fas fa-building"></i>
        </div>
            <div class="div">
               
                    <select asp-for="DeptId" class="input">
                    <option disabled selected>Select Department</option>
                    </select>
                <span asp-validation-for="DeptId" class="text-danger"></span>
            </div>
        </div>

        <input type="submit" value="Register" class="btn" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    </form>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script>
        $("#branchId").change(function () {           
            $("#DeptId").load(`/Account/Departments/${$(this).val()}`);
        })                   
    </script>
