

@model Course

@{
    ViewData["Title"] = "Assign Instructor";
}

<h1>Assign Instructor to Course</h1>

<form asp-action="AssignInstructor" asp-controller="Instructor" method="post">
    <input type="hidden" asp-for="@Model.CourseId" />

    <div class="form-group">
        <label for="instructorId">Select an Instructor:</label>
        <select class="form-control" id="instructorId" name="instructorId" asp-items="ViewBag.Instructors"></select>
    </div>

    <button type="submit" class="btn btn-primary">Assign Instructor</button>
</form>
