@model IEnumerable<Course>
@{
    ViewData["Title"] = "E-Exam";
}
<div class="mb-3">
    <input type="submit" value="Courses" class="btn success" />
    <a asp-controller="Student" asp-action="Exams" class="btn info">Exams</a>
</div>
<table class="table table-bordeded">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Id</td>
                <td>@course.Name</td>
                <td><button class="btn info info-btn" data-description="@course.Description">Info</button></td>
            </tr>
        }
    </tbody>
</table>

<!-- Centered alert message -->
<div id="alert-container" class="alert-container">
    <div class="alert-box">
        <p id="alert-message" class="alert-message"></p>
        <button onclick="hideAlert()" class="close-button">Close</button>
    </div>
</div>
@section Scripts {
    <script>
        var infoButtons = document.querySelectorAll('.info-btn');

        infoButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var description = this.getAttribute('data-description');
                showAlert(description);
            });
        });

        function showAlert(message) {
            var alertContainer = document.getElementById('alert-container');
            var alertMessage = document.getElementById('alert-message');
            alertMessage.innerText = message;
            alertContainer.classList.add('show-alert');
        }

        function hideAlert() {
            var alertContainer = document.getElementById('alert-container');
            alertContainer.classList.remove('show-alert');
        }
    </script>
}
