@model IEnumerable<InstructorViewModel>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
               
                <div class="row">
                    <div class="col-12">
                        <table class="table display expandable-table">
                            <thead>
                                <tr>
                                    <td>Id</td>
                                    <td>Name</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() > 0)
                                    foreach (var instructor in Model)
                                    {
                                        <tr>
                                            <td>@instructor.Id</td>
                                            <td>@instructor.Name</td>
                                            <td>
                                                <a class="btn btn-primary" asp-action="AssignManager" asp-controller="Manage" asp-route-deptId="@ViewBag.DepartmentId" asp-route-insId="@instructor.Id">Assign Manager</a>
                                            </td>
                                        </tr>
                                    }
                                else
                                {
                                    <tr>
                                        <td colspan="3">No Instructors in this branch </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>