@model QuestionViewModel

@{
    ViewData["Title"] = "Add Question";
}

<div class="text">
    <h2 data-text="Add_Question">Add_Question</h2>
</div>

<form asp-action="AddQuestion" asp-controller="Instructor" method="post">

    <input type="hidden" asp-for="InstructorId" value="@Model.InstructorId" />
    <input type="hidden" asp-for="CourseId" value="@Model.CourseId" />

    <div class="row m-1">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Type">Question Type</label>
                <select asp-for="Type" id="questionType" class="form-control"
                        asp-items="Html.GetEnumSelectList<QVMType>()">
                </select>
            </div>
        </div>
    </div>

    <partial name="QuestionPartial" />

    <button type="submit" asp-route-id="@Model.CourseId" class="btn success">Add Question</button>
</form>

<script src="/lib/jquery/dist/jquery.js"></script>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var questionTypeSelect = document.getElementById("questionType");
            $("#choicesContainer").load("/Staff/Instructor/AddChoices/1");

            questionTypeSelect.addEventListener("change", function () {
                var type = this.value;
                if (type === '1') {
                    $("#choicesContainer").load("/Staff/Instructor/AddChoices/1");
                } else if (type === '2') {
                    $("#choicesContainer").load("/Staff/Instructor/AddChoices/2");
                }
            });
        });
    </script>

}

