@model QuestionViewModel

@{
    ViewData["Title"] = "Edit Question - Examly";
}
<indicator hidden>inst-courses</indicator>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Edit Question</p>
                <div class="row">
                    <div class="col-12">
                        <form asp-action="EditQuestion" asp-controller="Instructor" method="post">
                            <input type="hidden" asp-for="Id" value="@Model.Id" />
                            <input type="hidden" asp-for="InstructorId" value="@Model.InstructorId" />
                            <input type="hidden" asp-for="CourseId" value="@Model.CourseId" />
                            <input type="hidden" asp-for="Type" value="@Model.Type" />

                            @if (Model.Choices.Count > 2)
                            {
                                <partial name="QuestionPartial" />
                                <div class="row m-1">
                                    <div class="col-md-4">
                                        <partial name="MCQChoicesPartial" />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <partial name="QuestionPartial" />
                                <div class="row m-1">
                                    <div class="col-md-4">
                                        <partial name="TFChoicesPartial" />
                                    </div>
                                </div>
                            }

                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/lib/jquery/dist/jquery.js"></script>
@section Scripts {
    <script>
        document.querySelector('form').addEventListener("submit", function () {
            if (document.querySelector('#trueFalseContainer') !== undefined) {
                console.log(document.querySelector('input[type=radio]:not(:checked)').value);

                document.querySelector('#incorrectChoice').value =
                    document.querySelector('input[type=radio]:not(:checked)').value;
            }
        });
    </script>
}