@model DeptCourseViewModel
@{
    ViewData["Title"] = "Info";
}
<indicator hidden>inst-courses</indicator>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Course Info</p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table  table-borderless">
                                <tbody>
                                    <tr>
                                        <td class="col-2">
                                            <p class="text-black font-weight-bold">Name</p>
                                        </td>
                                        <td>
                                            <p> @Model.CourseName</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-2">
                                            <p class="text-black font-weight-bold">Description</p>
                                        </td>
                                        <td>
                                            <p> @Model.CourseDescription</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-2">
                                            <p class="text-black font-weight-bold">Department</p>
                                        </td>
                                        <td>
                                            <p> @Model.DeptName</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>