@model DeptCourseViewModel
@{
    ViewData["Title"] = "Info";
}

<h1>Course Information</h1>

<div>
    <br />
    <p><strong>Department:</strong> @Model.DeptName</p>
    <p><strong>Name:</strong> @Model.CourseName</p>
    <p><strong>Description:</strong> @Model.CourseDescription</p>
</div>


