@model QuestionViewModel
<div id="trueFalseContainer">
    <input asp-for="Choices[0].Id" value="@Model.Choices[0].Id" hidden />
    <input asp-for="Choices[1].Id" value="@Model.Choices[1].Id" hidden />
    <input id="incorrectChoice" asp-for="Choices[1].Text" value="@Model.Choices[1].Text" hidden />
    <div class="form-check">
        <label class="form-check-label">
            <input id="true" type="radio" class="form-check-input" asp-for="Choices[0].Text" value="True">
            True
            <i class="input-helper"></i>
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input id="false" type="radio" class="form-check-input" asp-for="Choices[0].Text" value="False">
            False
            <i class="input-helper"></i>
        </label>
    </div>
</div>
<br />
