
@{
    ViewData["Title"] = "Create";
}

<div class="text">
    <h2 data-text="Create_Department">Create_Department</h2>
</div>
<partial name="DepartmentForm" />
<div>
    <a asp-action="Index" asp-controller="Manage" class="btn info">Back to Dashboard</a>
</div>

