
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <partial name="ManageModals" />
    <a class="btn btn-info" asp-action="Logout" asp-controller="Account">Logout</a>
</body>
</html>
