<a class="btn btn-secondary" id="ManageDept">Department Manager</a>
<a class="btn btn-info" id="ManageStudents" >Manage Students</a>
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel">List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="content">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/lib/jquery/dist/jquery.js"></script>
<script>  
        $("#ManageDept").click(function () {
            $("#content").load(`Manage/DepartmentManager/${ 1 }`)// replace by BranchId from select
            $("#modal").modal('show');
            $("#ModalLabel").text("Instructors List")
        })
        $("#ManageStudents").click(function () {
            $("#content").load(`Manage/Students/${ 1 }`)// replace by DeptId from select
            $("#modal").modal('show');
            $("#ModalLabel").text("Students List")
        })
</script>