@{
    ViewData["Title"] = "Examly";
}

<div class="row">
    <div class="col-md-6">

        <img src="/images/landing.svg" />
    </div>
    <div class="col-md-6 align-content-center">
        <div class="row">
            <div class="col-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded service-item text-center mb-4">
                    <div class="p-3">
                        <i class="mdi mdi-48px mdi-account-tie mb-4"></i>
                        <h5 class="mb-2 mt-3">Instructor Empowerment</h5>
                        <p>Welcome to our sophisticated online examination system designed to empower instructors.
                            Manage courses, create questions, and ensure exam integrity with randomized selections.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class=" rounded service-item text-center mb-4">
                    <div class="p-3">
                        <i class="mdi mdi-48px mdi-book-open-variant-outline mb-4"></i>
                        <h5 class="mb-2 mt-3">Effortless Exam Creation</h5>
                        <p>Craft exams effortlessly with our intuitive platform. Instructors can add their own questions,
                            generate exams with ease, and maintain security through randomized question selection.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class=" rounded service-item text-center mb-4">
                    <div class="p-3">
                        <i class="mdi mdi-48px mdi-account-school mb-4"></i>
                        <h5 class="mb-2 mt-3">Seamless Student Experience</h5>
                        <p>Students enjoy a seamless exam-taking experience.
                            With just a few clicks, although they can access exams online,
                            submit answers, and receive instant grades.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class=" rounded service-item text-center mb-4">
                    <div class="p-3">
                        <i class="mdi mdi-48px mdi-brain mb-4"></i>
                        <h5 class="mb-2 mt-3">Comprehensive Learning Support</h5>
                        <p>Enhance learning with comprehensive model answers. Students can review their performance
                           and reinforce their understanding—all within our user-friendly platform.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

