
@{
    ViewData["Title"] = "Edit";
}

<div class="text">
    <h2 data-text="Edit_Instructor">Edit_Instructor</h2>
</div>
<partial name="InstructorForm" />

<div>
    <a asp-action="Index" asp-controller="Manage" class="btn info">Back to Dashboard</a>
</div>
